<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">
    <meta name="author" content="webThemez.com">
    <title>Math Problem Solver</title>
    <link rel="favicon" href="static/images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html">
                <img src="static/images/logo.png" alt="Techro HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="courses.html">Math Problem Solver</a></li>
                <li><a href="price.html">QuestionBank Generator</a></li>
                <li><a href="videos.html">Code Chatbot</a></li>
                <li><a href="contact.html">Script Generator</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<header id="head" class="secondary">
    <div class="container">
        <h1>Math Problem Solver</h1>
        <p>Enter the question in the space provided</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <section class="col-sm-12 maincontent">
            <h3>Instructions</h3>
            <p>Enter the question and press Generate.</p>

            <!-- Add input box -->
            <label for="topicInput">Enter Question:</label>
            <input id="topicInput" name="topicInput" placeholder="Enter question here">

            <!-- Add output box -->
            <div id="output" style="margin-top: 10px; border: 1px solid #ccc; padding: 10px;"></div>

            <!-- Add Generate button -->
            <button id="enterButton">Generate</button>
        </section>
    </div>
</div>

<footer id="footer">
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="panel-body">
                    <p class="simplenav">|
                        <a href="index.html">Home</a> |
                        <a href="courses.html">Math Problem Solver</a> |
                        <a href="price.html">QuestionBank Generator</a> |
                        <a href="videos.html">Code Chatbot</a> |
                        <a href="contact.html">Script Generator</a> |
                        <a href="about.html">About</a> |
                    </p>
                </div>
            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="static/js/custom.js"></script>

<script>
    $(document).ready(function () {
        $("#enterButton").click(function () {
            var selectedTopic = $("#topicInput").val();
            $.ajax({
                url: "/courses.html",
                type: "POST",
                contentType: "text/plain",
                data: JSON.stringify({ "userInput": selectedTopic}),
                success: function (response) {
                    $("#output").html(response);
                }
            });
        });
    });
</script>

</body>
</html>
