<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO-TEACHER</title>
    <link rel="favicon" href="static/images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen"> 
    <link rel="stylesheet" href="static/css/style.css">
    <link rel='stylesheet' id='camera-css'  href='static/css/camera.css' type='text/css' media='all'> 
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">
                    <img src="static/images/logo.png" alt="Techro HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="contact.html">Script Generator</a></li>
                    <li><a href="courses.html">Math Problem Solver</a></li>
                    <li><a href="price.html">Question Bank Generator</a></li>
                    <li><a href="videos.html">Code Chatbot</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="heading-text">							
                <h1 class="animated flipInY delay1">Start Online Education</h1>
            </div>
            
            <div class="fluid_container">                       
                <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                    <div data-thumb="static/images/slides/thumbs/img1.jpg" data-src="static/images/slides/img1.jpg">
                        <h2>We develop.</h2>
                    </div> 
                    <div data-thumb="static/images/slides/thumbs/img2.jpg" data-src="static/images/slides/img2.jpg">
                    </div>
                    <div data-thumb="static/images/slides/thumbs/img3.jpg" data-src="static/images/slides/img3.jpg">
                    </div> 
                </div><!-- #camera_wrap_3 -->
            </div><!-- .fluid_container -->
        </div>
    </header>
    <!-- /Header -->

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="grey-box-icon">
                    <div class="icon-box-top grey-box-icon-pos">
                        <img src="static/images/4.png" alt="" />
                    </div><!--icon box top -->
                    <h4>Script Generator</h4>
                    <p>Generates text relevant to the topic.</p>
                    <form action="/contact.html" method="POST">
                      <input type="hidden" name="selectedPage" value="contact">
                      <button type="submit"><em>Read More</em></button>
                  </form>
                  
                </div><!--grey box -->
            </div><!--/span3-->
            <div class="col-md-3">
                <div class="grey-box-icon">
                    <div class="icon-box-top grey-box-icon-pos">
                        <img src="static/images/2.png" alt="" />
                    </div><!--icon box top -->
                    <h4>Math Problem Solver</h4>
                    <p>Solves the questions with proper explanation.</p>
                    <a href="#"><em>Read More</em></a>
                </div><!--grey box -->
            </div><!--/span3-->
            <div class="col-md-3">
                <div class="grey-box-icon">
                    <div class="icon-box-top grey-box-icon-pos">
                        <img src="static/images/3.png" alt="" />
                    </div><!--icon box top -->
                    <h4>Question Bank Generator</h4>
                    <p>Generates the question on specific topic.</p>
                  
                  <form action="/price.html" method="POST">
                      <input type="hidden" name="selectedPage" value="price">
                      <button type="submit"><em>Read More</em></button>
                  </form>
                  
                </div><!--grey box -->
            </div><!--/span3-->
            <div class="col-md-3">
                <div class="grey-box-icon">
                    <div class="icon-box-top grey-box-icon-pos">
                        <img src="static/images/1.png" alt="" />
                    </div><!--icon box top -->
                    <h4>Question Bank Evaluator</h4>
                    <p>Evaluates the questions generated.</p>
                    <a href="#"><em>Read More →</em></a>
                </div><!--grey box -->
            </div><!--/span3-->
        </div>
    </div>
    
    <section class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="title-box clearfix ">
                    <h2 class="title-box_primary">About Us</h2>
                </div> 
                <p><span>Using cutting-edge artificial intelligence (AI), the "Co-Teacher" application revolutionizes
                        the production of educational content.</span></p>
                <!-- Other about us content -->
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="index.html">Home</a> | 
                            <a href="contact.html">Script Generator</a> |
                            <a href="courses.html">Math Problem Solver</a> |
                            <a href="price.html">Question Bank Generator</a> |
                            <a href="videos.html">Question Bank Evaluator</a> |
                            <a href="about.html">About</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="static/js/modernizr-latest.js"></script> 
    <script type='text/javascript' src='static/js/jquery.min.js'></script>
    <script type='text/javascript' src='static/js/fancybox/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='static/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='static/js/camera.min.js'></script> 
    <script src="static/js/bootstrap.min.js"></script> 
    <script src="static/js/custom.js"></script>
    <script>
        jQuery(function(){
            jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
                height: '600',
                loader: 'false',
                pagination: true,
                thumbnails: false,
                hover: false,
                playPause: false,
                navigation: false,
                opacityOnGrid: false,
                imagePath: 'static/images/'
            });
        });
    </script>    
</body>
</html>
